{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "no-param-reassign": [2, {
      "props": false
    }]
  }
}
